.page {
  aspect-ratio: 1/1.4142;
  height: 90vh;
  position: fixed;
  background-color: white;
  box-shadow: 2px 0px 10px 4px rgb(204, 204, 204);
}

.pageContainer {
  margin: auto 0px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
