.accrodionTile {
  background-color: #002463;
}

.accrodionTitle {
  font-size: 20px;
  color: white;
}

.expandIcon {
  color: white;
}

.accrodionDetails {
  display: flex;
  flex-direction: column;
}

.inputField {
  outline: none;
  border: 1px solid #002463;
  box-shadow: 0px 0px 2px 2px rgb(238, 238, 238);
  border-radius: 5px;
  padding: 8px;
  height: 35px;
  transition: 250ms ease-in-out box-shadow;
}

.inputField:hover,
.inputField:focus {
  box-shadow: 0px 0px 5px 2px rgb(175, 175, 175);
}

.gridLayout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 24px;
  row-gap: 12px;
  margin: 8px 0px;
}

.singleCell {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 8px;
  flex-direction: column;
}
