.headerStyle {
  height: 50px;
  background-color: #002463;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px;
  box-shadow: 0px 0px 8px 2px gray;
}

.createCVButton {
  border-radius: 7px;
  height: 35px;
  outline: none;
  color: #002463;
  border: none;
  padding: 0px 16px;
  font-weight: bold;
  font-family: "Oswald";
  background-color: white;
  cursor: pointer;
}

.linksRow {
  display: flex;
  flex-direction: row;
  gap: 64px;
  text-transform: capitalize;
  color: white;
  font-weight: bold;
}
