.headerStyle {
  height: 60px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 48px;
  padding-right: 24px;
  border-bottom: 1px solid rgb(160, 160, 160);
}

.createCVButton {
  border-radius: 7px;
  height: 35px;
  outline: none;
  color: #002463;
  border: none;
  font-size: 18px;
  padding: 0px 16px;
  font-weight: bold;
  font-family: "Oswald";
  background-color: white;
  cursor: pointer;
}

.linksRow {
  display: flex;
  flex-direction: row;
  gap: 100px;
  text-transform: capitalize;
  color: rgb(71, 71, 71);
  font-size: 22px;
}

.linksRow > *:hover {
  color: #002463;
}

.linksRow > * {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
}
.linksRow > *::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: 250ms ease-in-out width;
  width: 0%;
  border-bottom: 2px solid #002463;
}

.linksRow > *:hover::after {
  width: 100%;
}

.logo {
  width: 50px;
  height: 40px;
  color: black;
  font-size: 20px;
  text-align: center;
}
